@import 'tailwindcss';

@theme {
  /* colors */
  --color-negative: #e04f3f;
  --color-focus: #ff6200;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-positive: #2d9cdb;
  --color-overlay: rgba(17, 21, 24, 0.5);
  --color-primary-100: #ff7d29;
  --color-primary-60: #ff9a53;
  --color-primary-30: #ffd282;
  --color-secondary-100: #fb9e3a;
  --color-secondary-60: #fdb85f;
  --color-secondary-30: #ffe0b4;
  --color-tertiary-100: #ffde4d;
  --color-tertiary-60: #ffe97f;
  --color-tertiary-30: #fff6c2;
  --color-gray-100: #2c2c2c;
  --color-gray-80: #4f4f4f;
  --color-gray-60: #7a7a7a;
  --color-gray-40: #bdbdbd;
  --color-gray-20: #ededed;
  --color-kakao: #fee500;

  /* font size */
  --text-heading-2xl: 24px;
  --text-heading-2xl--line-height: 1.33;
  --text-heading-2xl--font-weight: 700;
  --text-heading-2xl--letter-spacing: 0px;
  --text-heading-xl: 20px;
  --text-heading-xl--line-height: 1.4;
  --text-heading-xl--font-weight: 700;
  --text-heading-xl--letter-spacing: 0px;
  --text-heading-lg: 18px;
  --text-heading-lg--line-height: 1.44;
  --text-heading-lg--font-weight: 500;
  --text-heading-lg--letter-spacing: 0px;
  --text-body-md: 16px;
  --text-body-md--line-height: 1.5;
  --text-body-md--font-weight: 400;
  --text-body-md--letter-spacing: 0px;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 1.57;
  --text-body-sm--font-weight: 400;
  --text-body-sm--letter-spacing: 0px;
  --text-button-md: 16px;
  --text-button-md--line-height: 1.5;
  --text-button-md--font-weight: 500;
  --text-button-md--letter-spacing: 0px;
  --text-caption-xs: 12px;
  --text-caption-xs--line-height: 1.5;
  --text-caption-xs--font-weight: 400;
  --text-caption-xs--letter-spacing: 0px;

  /* gradient */
  --background-image-primary-gradient: linear-gradient(
    to top,
    #ff7d29,
    #fdb85f
  );
  --background-image-secondary-gradient: linear-gradient(
    to top,
    #fdb85f,
    #ffe0b4
  );
  --background-image-gray-gradient: linear-gradient(to top, #bdbdbd, #ededed);
  --background-image-light-gray-gradient: linear-gradient(
    to top,
    #ededed,
    #ffffff
  );

  /* animation */
  --animate-move-grid: moveGrid 5s linear infinite;

  /* keyframes */
  @keyframes moveGrid {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 200px 200px;
    }
  }
}

@layer base {
  /* TailwindCSS v4에서 제거된 button에 cursor:pointer 속성 되살리기 */
  /* 본래 CSS가 추구하는 cursor: pointer인 경우는 링크인 경우라고 한다. */
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

@layer components {
  .embla {
    overflow: hidden;
    position: relative;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    overflow: hidden;
  }
}

@layer utilities {
  /* 스크롤바 제거 커스텀 클래스 추가 */
  .no-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply text-body-md;
}

@media (hover: hover) and (pointer: fine) {
  *:focus,
  *:focus-within {
    outline-color: var(--color-focus);
  }
}

a[href]:active,
input:not([disabled]):active,
select:not([disabled]):active,
textarea:not([disabled]):active,
button:not([disabled]):active,
[tabindex]:not([tabindex='-1']):active {
  filter: brightness(0.9);
}

.mobile-width {
  @apply max-w-md min-w-xs;
}

/* TODO 
1. @layer components에 badge, btn 커스텀 스타일 넣기
*/
